body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*ScrollBar*/
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: #5d5d5d;
}
body::-webkit-scrollbar-thumb{
    background-color: #b9ddf9;
}

/* md1 */
@media only screen and (min-width: 994px){
    .header_top_column_2{
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    .second_section{
        height: 1690px;
    }
    .img_block{
        height: 405px;
        border-right: 12px solid #fff;
    }
    .img_block_4,
    .img_block_8,
    .img_block_12{
        border-right: none;
    }
    .img_block:hover{
        border-right: none;
    }
}

/* md2 */
@media only screen and (max-width: 994px) {
    .header_top_column_2{
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    .second_section{
        height: 2240px;
    }
    .img_block{
        height: 305px;
    }
    .img_1{
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
    }
    .img_2{
        border-right: 16px solid #fff;
    }
}

/* md3 */
@media only screen and (max-width: 768px){
    .header_top_column_2{
        border: none;
    }
    .second_section{
        height: 2240px;
    }
    .img_block{
        height: 305px;
    }
    .img_1{
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
    }
    .img_2{
        border-right: 16px solid #fff;
        border-left: 16px solid #fff;
    }
}

/* md4 */
@media only screen and (max-width: 576px){
    .header_top_column_2{
        border: none
    }
    .second_section{
        height: 4120px;
    }
    .img_block{
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
        height: 305px;
    }
}
/*First Section*/
.first_section{
    width: 100%;
    height: 150px;
}
.first_section_container{
    height: 100%;
    width: 100%;
}
.header_top{
    position: relative;
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 50px;
    z-index: 9;
}
.header_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1165px;
    width: 100%;
    display: flex;
    padding: 0px 0px 0px 10px;
    justify-content: space-between;
}
.header_top_column{
    align-self: center;
    width: auto;
}
.nav_list{
    display: flex;
    justify-content: space-between;
}
.nav a{
    padding: 5px 12px;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.nav{
    margin-right: 1px;
}
.nav a:hover{
    text-decoration: none;
    background: #eee;
}
.header_top_column_1 span{
    cursor: pointer;
}
.header_top_column_1,
.nav a,
.dropdown-item{
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: #7b7b7b;
    text-transform: uppercase;
    font-size: calc(4px + 6*(100vw/1155));
}
.header_top_column_3{
    text-align: right;
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: #7b7b7b;
    width: 100%;
    text-transform: uppercase;
    font-size: calc(3px + 6*(100vw/1155));
}
.header_bottom{
    height: 100px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}
.header_bottom_column{
    align-self: center;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bar{
    position: absolute;
    content: "";
    background: #7b7b7b;
    top: 50%;
    height: 2px;
    transform: translateY(-50%);
    transition: .18s linear;
}
.hamburger:hover .bar{
    animation-name: barAni;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-duration: .3s;
    animation-fill-mode: both;
}
.bar_1{
    margin-top: -9px;
    width: 30px;
}
.bar_2{
    width: 22px;
    animation-delay: .2s;
}
.bar_3{
    margin-top: 9px;
    width: 16px;
    animation-delay: .4s;
}
.bar:hover{
    
}
.bar.open{
    width: 30px;
}
.header_bottom_column_2{
    display: flex;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c91f28;
    content: "";
    align-self:flex-end;

}
.logo{
    width: 191px;
    height: 50px;
    background: url(img/logo_1.png) no-repeat center center;
    background-size: cover;
    align-self:flex-end;
}
.search{
    cursor: pointer;
    color: #898989;
}

/*Second Section*/
.second_section{
    width: 100%;
    background: #ffffff;
    position: relative;
}
.second_section_container{
    max-width: 1840px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.second_section_info{
    padding: 90px 0px 0px 0px;
    text-align: center;
}
.second_section_title{
    font-family:'Playfair Display', serif;
    font-size: calc(14px + 21*(100vw/1840));
    font-weight: 400;
}
.second_section_subtitle{
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: calc(8px + 10*(100vw/1840));
}
.row_1,
.row_2,
.row_3{
    display: flex;
}
.collage{
    margin-top: 94px;
    padding: 0 6px 0px 6px;
}
.img_block{
    cursor: zoom-in;
    background: #eee;
    transition: .3s linear;
}
.img_block:hover{
    -webkit-box-shadow: 0px 0px 11px 2px rgba(123,123,123,1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(123,123,123,1);
    box-shadow: 0px 0px 11px 2px rgba(123,123,123,1);
}
.img_block_1{
    background: url(img/img_1.webp) no-repeat center center;
    background-size: cover;
}
.img_block_2{
    background: url(img/img_2.webp) no-repeat bottom center;
    background-size: cover;
}
.img_block_3{
    background: url(img/img_3.webp) no-repeat center center;
    background-size: cover;
}
.img_block_4{
    background: url(img/img_4.webp) no-repeat center center;
    background-size: cover;
}
.img_block_5{
    background: url(img/img_5.webp) no-repeat center center;
    background-size: cover;
}
.img_block_6{
    background: url(img/img_6.webp) no-repeat center center;
    background-size: cover;
}
.img_block_7{
    background: url(img/img_7.webp) no-repeat center center;
    background-size: cover;
}
.img_block_8{
    background: url(img/img_8.webp) no-repeat center center;
    background-size: cover;
}
.img_block_9{
    background: url(img/img_9.webp) no-repeat center center;
    background-size: cover;
}
.img_block_10{
    background: url(img/img_10.webp) no-repeat center center;
    background-size: cover;
}
.img_block_11{
    background: url(img/img_11.webp) no-repeat center center;
    background-size: cover;
}
.img_block_12{
    background: url(img/img_12.webp) no-repeat center center;
    background-size: cover;
}
@keyframes barAni{
    0%{
       left: 0px;
    }
    100%{
        left: 14px;
    }
}
